body {
    background: rgb(30 30 30 / 99%);
    color: rgb(202, 201, 201);
}

.header {
    background: black;
    color: #fff;
}
.menu {
    background: black;
}
.menu-popup {
    background: linear-gradient(to top left, #5a0d099e, black 80%);
}
.head-mobile {
	color: rgb(255, 255, 255);
}

.theme-button {
    color: #f4f4f4;
    background: #444;
}

.theme-button:hover {
    background: #555;
}
.theme-button-mob {
    color: #f4f4f4;
    background: #444;
}