body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(30 30 30 / 99%);
    color: rgb(202, 201, 201);
    margin: 0;
}
.block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 50px 0;
}
@media screen and (max-width: 620px) { 
    .block { 
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    } 
}
h3 {
    font-size: medium;
    letter-spacing: 1px;
    color: #8d0202;
}
.s_bar {
    grid-column: 1/2;
    box-sizing: border-box;
    position: relative;
    padding: 20px 0 0 0;
}
.photo {
    width: 350px;
    z-index: 0;
    margin-left: 19px;
    margin-top: 30px;
}
@media screen and (max-width: 1280px) { 
    .photo { 
        width: 350px; 
    } 
}
@media screen and (max-width: 1140px) { 
    .photo { 
        width: 260px; 
    } 
} 
.icon {
    width: 21px;
    margin: 10px 4px 0 10px;
    position: relative;
    top: 4px;
}
.iconone {
    padding: 5px;
    border-radius: 20%;
}
.icontwo {
    border-radius: 50%;
    padding: 5px;
}
.link {
    color: rgb(202, 201, 201);
    text-decoration: none;
    font-size: small;
    padding: 7px 5px 5px 0px;
    border-radius: 5%;
}
.social img:hover, .link:hover {
    box-shadow: 0 0 15px rgb(202, 201, 201);
}
.contacts {
    margin-left:20px;
    position: relative;
    bottom: 1px;
    margin-top: 30px;
}
.languages {
    margin-left:20px;
    padding-top: 30px;
    position: relative;
    bottom: 1px;
}
.skills {
    margin-left:20px;
    padding-top: 30px;
    position: relative;
    bottom: 1px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul li {
    margin-top: 10px;
    font-size: small;
}
.main {
    grid-column: 2/5;
    padding: 20px 45px 50px;
    position: relative;
}
@media screen and (max-width: 1200px) { 
    .main { 
        grid-column: 2/6;
    } 
}
@media screen and (max-width: 960px) { 
    .main { 
        grid-column: 2/7;
    } 
}
@media screen and (max-width: 720px) { 
    .main { 
        grid-column: 2/10;
    } 
}

.about {
    margin-top: 30px;   
}
.about h1 {
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
    bottom: 20px;
}
.about h2 {
    font-size: 15px;
    padding-left: 2px;

}
.about p {
    color: rgb(163 163 163);
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    bottom: 40px;
    padding-left: 2px;
}
@media screen and (max-width: 960px) { 
    .about h1 { 
        font-size: 35px; 
    } 
}
@media screen and (max-width: 960px) { 
    .about p { 
        bottom: 40px; 
    } 
}
@media screen and (max-width: 720px) { 
    .about h1 { 
        font-size: 30px; 
    } 
}
@media screen and (max-width: 720px) { 
    .about p { 
        bottom: 30px; 
    } 
}

.work {
    margin-top: 20px;
}
.project {
    grid-column: 5/8;
    padding: 20px 45px 50px;
    position: relative;
    margin-top: 165px;
}
.university {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.faculty {
    font-size: 13px;
    position: relative;
    bottom: 10px;
}

.btn-site {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    background: #444;
    padding: 8px 15px;
    background-size: 200% auto;
    transition: .5s;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-site:hover {
    background-position: right center;
    box-shadow: 0 0 10px rgb(202, 201, 201);
}
@media screen and (max-width: 1873px) { 
    .project { 
        grid-column: 5/8;
        margin-top: 215px; 
    } 
}
@media screen and (max-width: 1200px) { 
    .project { 
        grid-column: 2/5;
        margin-top: -80px;
    } 
}
@media screen and (max-width: 1200px) { 
    .project { 
        grid-column: 2/6;
        margin-top: -80px;
    } 
}
@media screen and (max-width: 960px) { 
    .project { 
        grid-column: 2/7;
        margin-top: -80px;
    } 
}
@media screen and (max-width: 720px) { 
    .project { 
        grid-column: 2/10;
        margin-top: -80px;
    } 
}

/*university*/
.university {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.faculty {
    font-size: 13px;
    position: relative;
    bottom: 10px;
}
.year {
    color: rgb(163 163 163);
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
    bottom: 20px;
}
.city {
    font-size: 13px;
    position: relative;
    bottom: 27px;
}
.ucode {
    position: relative;
}
.company {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}
.job_vacancy {
    font-size: 13px;
    position: relative;
    bottom: 10px;
}
.work {
    margin-top: 20px;
    margin-bottom: 20px;
}
.download {
    grid-column: 9/9;
    font-size: 15px;
    margin: 30px 20px;
    margin-top: 30px;
}
.loading a {
    text-decoration: none;
    color: white;
}
.loading {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    position: fixed;
    z-index: 101;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}
.loading:hover {
    box-shadow: 0 0 10px rgb(202, 201, 201);
}
@media screen and (max-width: 1280px) { 
    .download { 
        grid-column: 9/8; 
    } 
}
@media screen and (max-width: 1140px) { 
    .download { 
        grid-column: 9/8; 
    } 
} 
.icond {
    width: 20px;
    margin: 3px 10px 5px 10px;
    position: relative;
    top: 4px; 
}
.header {
    display: grid;
    position: fixed;
    margin: 0;
    width: 100%;
    grid-template-columns: 27% 13% 10% 10% 10% auto;
    grid-template-rows: 70px;
    top: 0px;
    background-color: black;
    z-index: 1;
}
.head {
    place-self: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.4;
}
.head:after {
    background-color: rgb(160, 160, 160);
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.head:hover:after, .head:focus:after {
	width: 100%;
     
}
.head:hover {
    color: rgb(160, 160, 160);
}
@media screen and (max-width: 860px) { 
    .head { 
        grid-template-columns: auto 15% 10% 10% 10% auto;
    } 
}

@media screen and (max-width: 820px) { 
    .header { 
        display: none;
    } 
}
.animation {
    width: 19%;
}
.circle {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 6px;
    position: relative;
    left: 0;
    animation-name: circle1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes circle1 {
    from {
        left: 0;
    }
    to {
        left: 93%;
    }
}
.logo {
    width: 38px;
    margin: 6px 4px 0 10px;
    position: relative;
    top: 4px;
}
@media screen and (max-width: 1280px) { 
    div.contentblock {width: 1200px;} 
}
@media screen and (max-width: 1140px) { 
    div.contentblock {width: 1024px;} 
} 
@media screen and (max-width: 992px) { 
    div.contentblock {width: 970px;} 
}

.theme-button {
    font-size: 15px;
    padding: 10px 20px;
    margin: 5px 10px;
    transition: .5s;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    place-self: center;
    left: 26%;
    position: relative;
    cursor: pointer;
}
.theme-button:hover {
    background: #555;
}
@media screen and (max-width: 1280px) { 
    .theme-button { 
        left: 1%;
    } 
}

/*Mobile-menu*/
.mobile {
	width: 100%;
	margin: 0 auto;
	position: fixed;
    top: 0;
	overflow: hidden;
    z-index: 1;
}
.menu {
	height: 80px;
}
.logo-mobile {
	position: fixed;
	top: 16px;
	left: 45%;
    width: 35px;
    margin: 6px 4px 0 10px;
}
main {
	padding: 10px;
}

.menu-triger {
	background: url(https://raw.githubusercontent.com/DmytroLobachevskyi/portfolio/main/assets/images/menu.png) 0 0 repeat;
	display: block;
	width: 25px;
	height: 17px;
	position: fixed;
	left: 31px;
	top: 31px;
}	
.menu-close {
	background: url(https://raw.githubusercontent.com/DmytroLobachevskyi/portfolio/main/assets/images/close.png) 0 0 repeat;
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.menu-popup {
	display: none;
	position: fixed;
	left: -110%;
	top: 0;
	width: 380px;
	box-sizing: border-box;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu-popup ul {
	margin: 0;
	padding: 0;
}
.menu-popup li {
	list-style: none;
	margin: 10px 56px;
	padding: 0;
}
.head-mobile {
	font-size: 29px;
	font-family: "Arial";
	line-height: 1.4;	
	text-decoration: none;
}
.body_pointer * {
	cursor: pointer;
}

@media screen and (min-width: 821px) { 
    .menu { 
        display: none;
    } 
}
@media screen and (min-width: 821px) { 
    .logo-mobile { 
        display: none;
    } 
}

.theme-button-mob {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px 10px;
    transition: .5s;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    place-self: center;
    left: 70%;
    top: 15px;
    position: fixed;
    cursor: pointer;
}
@media screen and (min-width: 821px) { 
    .theme-button-mob { 
        display: none;
    } 
}
@media screen and (max-width: 695px) { 
    .theme-button-mob { 
        font-size: 16px;
    } 
}
@media screen and (max-width: 645px) { 
    .theme-button-mob { 
        font-size: 15px;
    } 
}
@media screen and (max-width: 620px) { 
    .theme-button-mob { 
        font-size: 14px;
    } 
}